.container {
    height: 100%;
    width: 100%;

}

.heroGame {
text-align: center;
height: 300px;
width: 100%;
}

.playerName {
    font-size: 30px;
}

.cardOuter {
    width: 25%;
    height: 250px;
    font-size: 30px;
}

.currentCards {
    width: 25%;


}